.about-us {
  background: #0081ff;
  width: 100%;
  color: #ffffff;
  padding: 100px 0;

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    @include title;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
  }

  &__content {
    width: 45%;
    line-height: 30px;

    @media (max-width: 660px) {
      width: 100%;
    }

    & h4 {
      font-family: $font-subtitle;
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;

      @media #{$mobile} {
        font-size: 20px;
      }
    }
  }

  &__btn {
    @include btn(#3b4374, #3b437499);
    color: #ffffff;
    margin: 10px 0;
  }
}
