.blog {
  box-sizing: border-box;
  padding: 50px 0;

  & .container {
    display: flex;
    justify-content: space-between;

    @media #{$tablet} {
      flex-wrap: wrap;
    }
  }

  &__articles {
    width: 50%;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$tablet} {
      width: 100%;
      margin: 0 0 40px 0;
    }

    & article:first-of-type {
      background: #007ef9;
      padding: 20px 30px;
      margin: 40px 0;
      width: 100%;
      position: relative;
      transition: 0.4s;
      cursor: pointer;
      @include articles-hover;

      &:hover {
        background: radial-gradient(#007ef9, #007ef999);
      }

      & p {
        @include article-text;
      }
    }

    & article:nth-of-type(2),
    & article:nth-of-type(3) {
      background: #b9b8b830;
      width: calc(50% - 20px);
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: 0.4s;
      cursor: pointer;

      @media #{$mobile} {
        padding: 10px 10px;
      }

      & span {
        @include date;
        color: #353535;
      }

      & h4 {
        @include article-title;
        color: #353535;

        @media #{$mobile} {
          font-size: 20px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: 400px;
        right: 400px;
        bottom: 20px;
        height: 4px;
        transition: 0.4s;
      }

      &:hover:before {
        left: 10%;
        right: 10%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }

      &:hover {
        transform: scale(0.95);
      }
    }

    & article:nth-of-type(3) {
      background: #000;

      & span {
        color: #fff;
      }

      & h4 {
        color: #fff;
      }

      &:hover:before {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }
  }

  &__articles--aside {
    width: 50%;
    align-self: flex-end;

    @media #{$tablet} {
      width: 100%;
    }

    & article:first-child {
      background-image: url("/images/blog_bg.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 30px;
      position: relative;
      transition: 0.4s;
      cursor: pointer;
      @include articles-hover;

      & span {
        @include date;
        color: #ffffff;
      }

      & h4 {
        @include article-title;
        color: #ffffff;
        margin-bottom: 0;
        padding-top: 205px;

        @media #{$mobile} {
          padding-top: 50px;
        }
      }

      & p {
        @include article-text;
      }
    }

    & article:last-child {
      background: #e91d62;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 30px;
      position: relative;
      transition: 0.4s;
      cursor: pointer;
      @include articles-hover;

      &:hover {
        background: radial-gradient(#e91d62, #e91d6299);
      }

      & span {
        @include date;
        color: #ffffff;
      }

      & h4 {
        @include article-title;
        color: #ffffff;
        margin: 10px;
      }

      & p {
        @include article-text;
      }
    }
  }

  &__title {
    @include title;
    color: $headers-color;
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }

  &__text {
    @include subtitle;
    width: 100%;
    margin: 0 0 20px 0;
  }

  &_description {
    color: $headers-color;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}
