.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include title;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  &__text {
    @include subtitle;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
  &__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: (4, 25%);
    grid-template-areas:
      "item1 item1 item4 item5"
      "item2 item3 item4 item6";

    @media (max-width: 560px) {
      grid-template-columns: (2, 50%);
      grid-template-areas:
        "item1 item1"
        "item2 item3"
        "item4 item5"
        "item4 item6";
    }

    @for $i from 1 through 6 {
      &-item#{$i} {
        grid-area: item#{$i};

        & img {
          width: 100%;
        }
      }
    }

    &-item1 img {
      height: 100%;

      @media (max-width: 560px) {
        height: inherit;
      }
    }

    &-item3 img {
      height: 100%;
    }
  }
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  & .item {
    max-width: 400px;
    width: 80%;
    border: 5px solid white;
    box-shadow: 0 0 20px 10px #ffffff;
    position: relative;

    & img {
      width: 100%;
    }
  }
}
