@mixin title {
  font-family: $font-title;
  font-size: $font-size-title;
  font-weight: 400;

  @media (max-width: 560px) {
    font-size: $font-size-title-mobile;
  }
}

@mixin subtitle {
  font-family: $font-subtitle;
  font-size: $font-size-subtitle;
  font-weight: 900;

  @media (max-width: 560px) {
    font-size: $font-size-subtitle-mobile;
  }
}

@mixin btn($bgFrom, $bgTo) {
  font-size: 15px;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, $bgTo 50%, $bgFrom 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 0.4s linear;

  &:hover {
    background-position: left;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(1.05);
    transition: none;
  }
}

//BLOG SECTION MIXINS

@mixin article-title {
  font-family: $font-subtitle;
  font-size: 30px;
  font-weight: 900;
  text-align: center;

  @media #{$mobile} {
    font-size: 24px;
  }
}

@mixin article-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media #{$mobile} {
    font-size: 17px;
  }
}

@mixin date {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  display: block;

  @media #{$mobile} {
    font-size: 17px;
  }
}

@mixin articles-hover {
  &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 400px;
    right: 400px;
    bottom: 20px;
    transition: 0.4s;
  }

  &:hover:before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    left: 10px;
    right: 10px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    bottom: 100px;
    transition: 0.4s;
  }

  &:hover:after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    top: 10px;
    bottom: 10px;
  }

  &:hover {
    transform: scale(0.95);
  }
}
