$main-color: #0081ff;
$headers-color: #575757;

$tablet: "screen and (max-width: 966px)";
$mobile: "screen and (max-width: 560px)";

$font-subtitle: Montserrat, sans-serif;
$font-title: "Leckerli One", sans-serif;
$font-size-title: 33px;
$font-size-title-mobile: 28px;
$font-size-subtitle: 35px;
$font-size-subtitle-mobile: 33px;
